[submodule "puppet/modules/puppet-glance"]
	path = puppet/modules/puppet-glance
	url = git@github.com:stackforge/puppet-glance
[submodule "puppet/modules/glance"]
	path = puppet/modules/glance
	url = git@github.com:stackforge/puppet-glance
[submodule "puppet/modules/openstack"]
	path = puppet/modules/openstack
	url = git@github.com:stackforge/puppet-openstack
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git@github.com:puppetlabs/puppetlabs-mysql
[submodule "puppet/modules/keystone"]
	path = puppet/modules/keystone
	url = git@github.com:stackforge/puppet-keystone
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib
[submodule "puppet/modules/inifile"]
	path = puppet/modules/inifile
	url = git@github.com:puppetlabs/puppetlabs-inifile
